
<div class="container mb-4">
    <h2 class="bg-white"> Airline Passanger Dashboard</h2>

    <div class="card mb-4">
        <app-passenger-count [checkInCount]="checkInCount" [passCount]="passangerData.length"></app-passenger-count>
    </div>
    <ul class="list-group mb-4">
        <li class="list-group-item" *ngFor="let pass of passangerData">
            {{pass.fullname}}
        </li>
    </ul>
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let passData of passangerData">
            <app-passenger-card
            [pass]="passData" (emitcheckInRemo)="getAllCheckedCount()"></app-passenger-card>
        </div>
    </div>
</div>