

// .container {
//     max-width: 1200px;
//   }
  
  h2 {
    font-weight: bold;
    color: #e9eff5;
  }
  
  .card {
    background-color: #f8f9fa;
    border: none;
    border-radius: 12px;
  }
  
  .shadow-sm {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  app-passenger-card {
    display: block;
    background: white;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  app-passenger-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  .welcome-screen {
    height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); 
    color: #ffffff;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    position: relative;
    animation: slideUpCenter 1.5s ease-out forwards;
    opacity: 0;
  }
  
  .welcome-screen h1 {
    animation: slideUpCenter 1.5s ease-out forwards;
  }
  
  @keyframes slideUpCenter {
    0% {
      transform: translateY(100px);
      transform: scale(0.8); /* Niche se */
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      transform: scale(1); /* Center me */
      opacity: 1;
    }
  }
  