
.fullname{
    font-weight: 400;
}
.fullname:disabled{
    background-color: transparent;
    opacity: 1;
    border-color:transparent ;
    font-weight: 700;
}
.checkInparents{
    position: relative;
}
.checkIncolor{
        border: 1px solid black;
        display: inline-block;
        position: absolute;
        left: -15px;
        top: 11px;
        border-radius: 50%;
        height: 15px;
        width: 15px;
    }
