<mat-card class="example-card">
    <mat-card-title>

        <div class="form-group checkInparents">
            <input 
            #fullName
            type="text"
            [disabled]="!isModeEdited"
            [value]="pass.fullname" 
            class="form-control fullname"
             >
             <span class="checkIncolor" [ngClass]="{
                'bg-success': pass.checkedIn,
                'bg-danger':!pass.checkedIn
             }"></span>
        </div>
    </mat-card-title>
    <mat-card-content>
      <p>Check In Date:{{pass.checkInDate? (pass.checkInDate | date): 'Not Check In Yet'}}</p>
      <p>Children :{{pass.children? pass.children.length :0}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onclickUpdate(fullName)">{{isModeEdited? 'Done' :'Edit'}}</button>
      <button mat-raised-button color="warn" (click)="removePass()">Remove</button>
    </mat-card-actions>
  </mat-card>