<mat-card class="example-card mb-5">
    <mat-card-title>
        <!-- <p *ngIf="!isEditMode" >{{passObj.fullname}}</p> -->

        <div class="form-group">
            <input type="text"
            #fullName 
            [disabled]="!isEditMode" 
            [value]="passObj.fullname" 
            class="form-control fullname">
        </div>
    </mat-card-title>
    <mat-card-content>
      <p>Check In Date: {{passObj.checkInDate? (passObj.checkInDate | date) :'not checkec In yet'}}</p>
      <p>Children :{{passObj.children? passObj.children.length :0}}</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <!-- <button mat-raised-button (click)="isEditMode=!isEditMode" color="primary" *ngIf="!isEditMode">Edit</button>
      <button mat-raised-button color="primary"(click)="isEditMode=!isEditMode" *ngIf="isEditMode">Done</button>
      <button mat-raised-button color="warn">Remove</button> -->

      <button mat-raised-button (click)="OnclickUpdatePass(fullName)" color="primary">{{isEditMode? 'Done':'Edit'}}</button>
      <button mat-raised-button color="warn" (click)="onRemovePass()">Remove</button> 

    </mat-card-actions>
  </mat-card>
